
<!-- contact section starts  -->

<section class="contact" id="contact">

<h1 class="heading">Contactame</h1>

<div class="row">

    <form action="">
        <input type="text" placeholder="Nombre" class="box">
        <input type="text" placeholder="Apellido" class="box">
        <input type="email" placeholder="Email" class="box">
        <input type="number" placeholder="Telefono" class="box">
        <textarea name="" id="" cols="30" rows="10" class="box address" placeholder="Descripcion"></textarea>
        <input type="submit" class="btn" value="Enviar">
    </form>

    <div class="image">
        <img src="./contact-img.png" alt="">
    </div>

</div>

</section>